@import './vars.scss';

header {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between; 

    img {
        width: 150px;
    }

    a {
        color: white;
        margin-right: 40px;
        font-size: 22px;
        text-decoration: none;
        font-family: sans-serif;
    }

    .header-line {
        background-color: $yellow;
        height: 100%;
        width: 20%;
    }

}